---
title: Feedback
permalink: /feedback/
icon: comments
header: true
---
<script type = 'text/javascript'>
$().ready(function(){
    var QueryString = function () {
      // This function is anonymous, is executed immediately and
      // the return value is assigned to QueryString!
      var query_string = {};
      var query = window.location.search.substring(1);
      var vars = query.split('&');
      for (var i=0;i<vars.length;i++) {
        var pair = vars[i].split('=');
            // If first entry with this name
        if (typeof query_string[pair[0]] === 'undefined') {
          query_string[pair[0]] = decodeURIComponent(pair[1]);
            // If second entry with this name
        } else if (typeof query_string[pair[0]] === 'string') {
          var arr = [ query_string[pair[0]],decodeURIComponent(pair[1]) ];
          query_string[pair[0]] = arr;
            // If third or later entry with this name
        } else {
          query_string[pair[0]].push(decodeURIComponent(pair[1]));
        }
      }
      return query_string;
    }();
    $('#short-description').val(QueryString.short_description);
    $('#description').val(QueryString.description);
    $('#submit').click(function(){
        //$.post('https://node.gogogliderecord.com',
        //{}
        // function( data ) {
        //    $.post( "test.php", { name: "John", time: "2pm" } )
        //    $('#result').html('Issue created <a href="' + data.web_url + '">' + data.web_url + '</a>');
        //    $('#result').removeClass('hide');
        //});

        var description = $('#description').val();
        description = description.replace(/\n/g, '<br/>');
        var endpoint = '';
        endpoint += 'https://gitlab.com/api/v3/projects/1958015/issues?';
        endpoint += 'private_token=3mvRDziasPzCpcfPbwVk&';
        endpoint += 'title='+$('#short-description').val()+'&';
        endpoint += 'label=from gogogliderecord&';
        endpoint += 'description=' + description;
        $.post(endpoint, function( data ) {
            $('#result').html('Issue created <a href="' + data.web_url + '">' + data.web_url + '</a>');
            $('#result').removeClass('hide');
        });
    });
})
</script>
<!---->
<form id='feedback'>
  <div class='form-group'>
    <label for='short-description'>Short Description</label>
    <input type='text' class='form-control' id='short-description' placeholder='Issue with url' />
  </div>
  <div class='form-group'>
    <label for='description'>Description</label>
    <textarea type='text' class='form-control' id='description' placeholder='The issue with this page is\n... Go on, type it out'></textarea>
  </div>
  <div class="g-recaptcha" data-sitekey="6LfepgwUAAAAADsVYogFUIjZg2wco9PmFEtgbQK5"></div>
</form>
<button id='submit' type='button' class='btn btn-primary'>Submit</button>
<div class="alert alert-info hide" role="alert" id="result">
</div>
